@model AppText.AdminApp.Controllers.AdminAppModel
@{ 
    Layout = null;
}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>AppText.AdminApp</title>
  </head>
  <body>
    <script type="text/javascript">
      window.__AppTextConfig__ = {};
      @if (! String.IsNullOrEmpty(Model.ClientBaseRoute))
      {
        <text>window.__AppTextConfig__.clientBaseRoute = '@Model.ClientBaseRoute';</text>
      }
      @if (! String.IsNullOrEmpty(Model.ApiBaseUrl))
      {
        <text>window.__AppTextConfig__.apiBaseUrl = '@Model.ApiBaseUrl';</text>
      }
      @if (! String.IsNullOrEmpty(Model.AuthType))
      {
        <text>window.__AppTextConfig__.authType = '@Model.AuthType';</text>
      }
      @if (! String.IsNullOrEmpty(Model.OidcSettings))
      {
        <text>window.__AppTextConfig__.oidcSettings = @Html.Raw(Model.OidcSettings);</text>
      }
    </script>
    <div id="app"></div>
  </body>
</html>