@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer L
@{
    ViewData["Title"] = L["HomePage"];
}

<div class="text-center">
    <h1 class="display-4">@L["Welcome"]</h1>
    <p>@L["Learn about <a href=\"{0}\">building Web apps with ASP.NET Core</a>.", "https://asp.net"]</p>
</div>
