@import '../../styles/variables';
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

.app-selector {
  
  .current-app {
    position: relative;

    a:hover {
      text-decoration: none;
    }
  
    .current-app-inner {
      padding: $spacer;
      a {
        color: $white
      }
    }

    .other-apps {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      z-index: 1;
      list-style: none;
      padding: 0;
      display: none;
      background-color: lighten($dark, 10%);
      li {
        border-top: 1px solid $dark;
      }
    }

    &:hover {
      background-color: lighten($dark, 10%);
    }

    &.with-other-apps {
      .expander:hover {
        cursor: pointer;
      }
      &.expand {
        cursor: pointer;
        .other-apps {
          display: block;
          li:hover {
            background-color: lighten($dark, 20%);
          }
        }
      }
    }
  
  }
    
  .app-id {
    opacity: 0.5;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
}
